<loading></loading>

<div class="header general">
      <div class="col-sm-12 logo">
        <img src="static/images/logo.png" style="height: 100%;">
        <span class="title-font-small">motuin</span> 
      </div>
</div>


<div class="container" role="main" style="min-height: calc(100vh - 95px);">
  <div class ="starter-template col-md-8">
      <h3 style="margin-bottom: 25px; text-align: center;">About</h3>
      <span class="text-info">{{content}}</span> 
  </div>
  
  <div class ="starter-template col-md-4">
    <img ng-src="{{item.url}}" style="width: 100%; margin-bottom: 15px;" ng-repeat="item in ads_images">
  </div>
</div>

<div class="footer-search">
    © MOTUIN All Rights Reserved | <a ui-sref="policy" target='_blank'>Website Policy</a> | <a ng-disabled="true">About</a> | <a ui-sref="contactus" target='_blank'>Contact Us</a> | <a ui-sref="browse" target='_blank'>Admin</a>
</div>